*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color:#ebfffc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.card{
    width: 90%;
    max-width: 500px;
    color: #fff;
    background: linear-gradient(120deg,rgb(24, 212, 187),rgb(21, 62, 165));
    padding: 20px;
    border-radius: 10px;
}
.search{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search input{
    height: 40px;
    width: 70%;
    border-radius: 20px;
    padding-left: 10px;
    border: none;
    outline: none;
    background: #ebfffc;
    color: #555;
}
.search button{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 50px;
    border: none;
    cursor: pointer;
    background: #ebfffc;
}
.search-image{
    width: 20px;
}
.error-card{
    text-align: center;
    justify-content: center;
    display: none;
}
.weather-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.weather-image{
    margin: 20px;
    width: 150px;
}
.weather-card #city-name{
    font-size: 3rem;
}
.weather-card h2{
    font-size: 2rem;
}
.weather-info{
    display: flex;
    width: 100%;
    margin-top: 70px;
    justify-content: space-around;
    align-items: center;
}
.humidity-info{
    display: flex;
    align-items: center;
}
.wind-info{
    display: flex;
    align-items: center;
}
.humidity-image-box img{
    width: 30px;
}
.humidity-image-box{
    margin-top: -35px;
    justify-items: center;
}
.humidity-info p{
    margin-left: 20px;
    font-size: 1.5rem;
}
.wind-image-box img{
    width: 30px;
}
.wind-image-box{
    margin-top: -35px;
    justify-items: center;
}
.wind-info p{
    margin-left: 20px;
    font-size: 1.5rem;
}

